#!/bin/bash
 
CONF=`pwd`/conf/httpd.conf
source conf/env-variables
 
case "$1" in
  start)
    echo Starting Apache HTTP
    bin/httpdctl -f $CONF -k start
    ;;
  stop)
    echo Stopping Apache HTTP
    bin/httpdctl -f $CONF -k stop
    ;;
  configtest)
    bin/httpdctl -f $CONF -t
    ;;
  status)
    bin/httpdctl -f $CONF -k status
    ;;
  restart)
    echo Restarting Apache
    bin/httpdctl -f $CONF -k restart
    ;;
  ctl)
    bin/httpdctl -f $CONF "$argv[2-]"
    ;;
  *)
    echo invalid option
    ;;
esac
